@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:wght@100;300;400;500;600&family=Roboto+Mono&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Robot", sans-serif;
}

body {
    background-color: whitesmoke;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 20px;
    letter-spacing: 5px;
    font-family: "Robot" sans-serif;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255, 0.8);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* İmage Container */
.image-Container {
    margin: 10px;
}

.image-Container img {
    width: 100%;
    margin-top: 5px;
}

/* Media Query: Large SmartePhone */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    .image-Container {
        margin: 10px;
    }
}